@mixin center($dir: both) {
  display: grid;
  @if $dir == both {
    place-items: center;
  } @else if $dir == x {
    justify-items: center;
  } @else if $dir == y {
    align-items: center;
  }
}

@mixin card {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.02),
    rgba(255, 255, 255, 0.01)
  );
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
}
